body{
    
    box-sizing: border-box;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} 

.container{
    padding-top: 1rem;
    max-width: 1280px;
    margin: auto;
}

.flex-div {
    padding: 20px;
    font-size: 30px; 
} 

.flex-div img {
    padding: 10px;
} 
.category-button{
    text-align: center;
    align-items: center !important;
}
.card-detail{
    height: 100%;
    cursor: pointer;
}

.product-list{
    
    margin: 10px;
    text-align: center;
}

.row{
    display: flex;
}

.nav-categori{
    display: flex;
    justify-content: space-evenly;
    margin: 5px;
    
    
}
.nav-categori h3{
    padding: 5px;
    
    cursor: pointer;
}
.nav-categori h3:hover{
    font-weight:bold; 
    text-decoration: underline; 
}

.nav-search{
    width: 60%;
    padding: 0 2rem;
}
.navbar{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

.navbar .shopping-cart{
    cursor: pointer;

}
.card-{
    font-size: 25px;
}

.page-container{
    padding-top: 2rem;
    margin: auto;
    max-width: 1280px;
  }
  .logo-link{
    font-family: 'Raleway', sans-serif;
    color: darkslategray;
    display: inline-block;
    font-size: 2rem;
    text-transform: uppercase;
}

.nav-categori{
  padding: 0 20px;
  border-bottom: solid 1px #e8e8e8;
  overflow: auto;
  box-shadow: 0 0 30px #f3f1f1;
}