.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 75%;
} 

.flex-div {
    
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    width: 25%;

    
} 
.flex-div img {
    
    padding: 10px;
} 

.category-button{
    text-align: center;
    align-items: center !important;
}

  